## 1- Import data frames

In [58]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

In [2]:
result= pd.read_csv("../clean_data/result_for_data_cleaning.csv") 
outcome1 =pd.read_csv("../original_data/outcomes\Outcomes-a.txt") 
outcome2 =pd.read_csv("../original_data/outcomes\Outcomes-b.txt")

## 2- Merge the patients information with the outcomes

In [3]:
pd.options.display.max_columns = None
outcome1

      RecordID  SAPS-I  SOFA  Length_of_stay  Survival  In-hospital_death
0       132539       6     1               5        -1                  0
1       132540      16     8               8        -1                  0
2       132541      21    11              19        -1                  0
3       132543       7     1               9       575                  0
4       132545      17     2               4       918                  0
...        ...     ...   ...             ...       ...                ...
3995    142665      19     7              10       336                  0
3996    142667       8     2               3        -1                  0
3997    142670       8     5              11        -1                  0
3998    142671      22    10               8         7                  1
3999    142673      25    11               7        -1                  0

[4000 rows x 6 columns]

In [4]:
# concat all the outcomes and then merge with result so we have all the patient data as well as the outcome
outcome = pd.concat([outcome1, outcome2], axis=0, ignore_index=True)
final_df = pd.merge(result, outcome, on='RecordID')

In [5]:
final_df.head()

,RecordID,Age,Gender,Height,Albumin_mean,Albumin_CV,Albumin_num_samples,ALP_mean,ALP_CV,ALP_num_samples,ALT_mean,ALT_CV,ALT_num_samples,AST_mean,AST_CV,AST_num_samples,Bilirubin_mean,Bilirubin_CV,Bilirubin_num_samples,BUN_mean,BUN_CV,BUN_num_samples,Cholesterol_mean,Cholesterol_CV,Cholesterol_num_samples,Creatinine_mean,Creatinine_CV,Creatinine_num_samples,DiasABP_mean,DiasABP_CV,DiasABP_num_samples,FiO2_mean,FiO2_CV,FiO2_num_samples,GCS_mean,GCS_CV,GCS_num_samples,Glucose_mean,Glucose_CV,Glucose_num_samples,HCO3_mean,HCO3_CV,HCO3_num_samples,HCT_mean,HCT_CV,HCT_num_samples,HR_mean,HR_CV,HR_num_samples,K_mean,K_CV,K_num_samples,Lactate_mean,Lactate_CV,Lactate_num_samples,Mg_mean,Mg_CV,Mg_num_samples,MAP_mean,MAP_CV,MAP_num_samples,MechVent_mean,MechVent_CV,MechVent_num_samples,Na_mean,Na_CV,Na_num_samples,NIDiasABP_mean,NIDiasABP_CV,NIDiasABP_num_samples,NIMAP_mean,NIMAP_CV,NIMAP_num_samples,NISysABP_mean,NISysABP_CV,NISysABP_num_samples,PaCO2_mean,PaCO2_CV,PaCO2_num_samples,PaO2_mean,PaO2_CV,PaO2_num_samples,pH_mean,pH_CV,pH_num_samples,Platelets_mean,Platelets_CV,Platelets_num_samples,RespRate_mean,RespRate_CV,RespRate_num_samples,SaO2_mean,SaO2_CV,SaO2_num_samples,SysABP_mean,SysABP_CV,SysABP_num_samples,Temp_mean,Temp_CV,Temp_num_samples,TropI_mean,TropI_CV,TropI_num_samples,TropT_mean,TropT_CV,TropT_num_samples,Urine_mean,Urine_CV,Urine_num_samples,WBC_mean,WBC_CV,WBC_num_samples,Weight_mean,Weight_CV,Weight_num_samples,SAPS-I,SOFA,Length_of_stay,Survival,In-hospital_death
0,132539,54,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.500000,33.671751,2.0,NaN,NaN,NaN,0.750000,9.428090,2.0,NaN,NaN,NaN,NaN,NaN,NaN,14.923077,1.858532,13.0,160.000000,39.774756,2.0,27.000000,5.237828,2.0,32.500000,5.870395,3.0,70.810811,12.152142,37.0,4.20,6.734350,2.0,NaN,NaN,NaN,1.700000,16.637807,2.0,NaN,NaN,NaN,NaN,NaN,NaN,136.500000,0.518027,2.0,50.147059,15.908696,34.0,71.559118,12.941637,34.0,114.382353,12.320780,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,203.000000,12.539825,2.0,17.428571,18.457611,42.0,NaN,NaN,NaN,NaN,NaN,NaN,37.357143,2.503899,14.0,NaN,NaN,NaN,NaN,NaN,NaN,171.052632,100.478026,38.0,10.300000,12.357206,2.0,NaN,NaN,0,6,1,5,-1,0
1,132540,76,1.0,175.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.333333,13.726972,3.0,NaN,NaN,NaN,1.100000,24.052285,3.0,58.897059,12.205345,68.0,0.56,44.821073,5.0,13.333333,24.494897,15.0,125.500000,23.100700,2.0,22.333333,6.839665,3.0,28.655556,5.883864,9.0,80.794118,8.341463,68.0,3.90,14.504754,2.0,NaN,NaN,NaN,2.300000,24.595018,4.0,76.940299,12.738275,67.0,1.0,0.0,5.0,137.000000,2.064545,2.0,56.714286,17.488271,14.0,75.308571,15.083665,14.0,112.500000,14.148312,14.0,38.857143,13.489859,7.0,210.142857,65.137236,7.0,7.395,0.511108,8.0,178.600000,18.648463,5.0,NaN,NaN,NaN,96.833333,2.107995,6.0,113.411765,14.406776,68.0,36.939130,2.669889,46.0,NaN,NaN,NaN,NaN,NaN,NaN,151.560976,106.564212,41.0,11.266667,29.734832,3.0,80.670588,1.141652e+00,34,16,8,8,-1,0
2,132541,44,0.0,NaN,2.5,11.313708,2.0,116.0,13.410646,2.0,83.0,13.630974,2.0,199.5,25.165204,2.0,2.9,4.876598,2.0,4.666667,61.858957,3.0,NaN,NaN,NaN,0.333333,17.320508,3.0,67.125000,12.894512,16.0,0.50,30.382181,14.0,5.923077,20.049413,13.0,134.333333,9.913144,3.0,25.000000,4.000000,3.0,28.460000,3.656616,5.0,83.759259,13.773458,54.0,4.26,58.275564,5.0,1.366667,36.828461,3.0,1.720000,14.476627,5.0,90.437500,10.348876,16.0,1.0,0.0,14.0,138.333333,1.104235,3.0,79.000000,9.194158,38.0,96.751316,7.627232,38.0,132.263158,7.109270,38.0,35.500000,5.393956,4.0,134.500000,61.070724,4.0,7.495,0.231094,4.0,89.666667,23.508419,3.0,NaN,NaN,NaN,95.000000,NaN,1.0,125.687500,9.669233,16.0,37.800000,1.698709,14.0,NaN,NaN,NaN,NaN,NaN,NaN,124.951220,74.602449,41.0,4.700000,28.146291,3.0,56.700000,5.058848e-14,55,21,11,19,-1,0
3,132543,68,1.0,180.3,4.4,NaN,1.0,105.0,NaN,1.0,12.0,NaN,1.0,15.0,NaN,1.0,0.2,NaN,1.0,17.666667,38.529392,3.0,NaN,NaN,NaN,0.766667,15.061311,3.0,NaN,NaN,NaN,NaN,NaN,NaN,14.944444,1.577190,18.0,117.333333,9.804224,3.0,27.666667,2.086808,3.0,37.442857,4.887903,7.0,70.983333,10.901554,60.0,4.00,5.000000,3.0,NaN,NaN,NaN,2.033333,5.678855,3.0,NaN,NaN,NaN,NaN,NaN,NaN,139.333333,1.494019,3.0,65.051724,10.331879,58.0,83.885517,7.460802,58.0,121.551724,6.834986,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,330.000000,16.683187,3.0,15.457627,22.063811,59.0,NaN,NaN,NaN,NaN,NaN,NaN,36.223077,1.353169,13.0,NaN,NaN,NaN,NaN,NaN,NaN,545.833333,41.212891,6.0,9.400000,19.930845,3.0,84.600000,5.081837e-14,60,7,1,9,575,0
4,132545,88,0.0,NaN,3.3,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.000000,40.406102,2.0,NaN,NaN,NaN,1.000000,0.000000,2.0,NaN,NaN,NaN,NaN,NaN,NaN,15.000000,0.000000,12.0,102.500000,14.487066,2.0,19.000000,7.443229,2.0,29.550000,11.815774,6.0,74.958333,9.945138,48.0,4.32,21.923631,5.0,NaN,NaN,NaN,1.550000,4.561979,2.0,NaN,NaN,NaN,NaN,NaN,NaN,139.500000,0.506887,2.0,45.720930,27.356750,43.0,74.946512,12.457415,43.0,133.395349,8.910840,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.000000,8.238137,2.0,19.166667,17.028595,48.0,NaN,NaN,NaN,NaN,NaN,NaN,36.880000,1.276750,15.0,NaN,NaN,NaN,NaN,NaN,NaN,62.131579,63.386765,38.0,4.300000,16.444344,2.0,NaN,NaN,0,17,2,4,918,0

## 3- Drop any patient not holding medical informartion

In [8]:
# drop the patients that do not hold any medical value 
non_medical_values = ['RecordID', 'Age'	,'Gender','Height', 'SAPS-I',	'SOFA',	'Length_of_stay','Survival','In-hospital_death']
final_df.dropna(subset=[col for col in final_df.columns if col not in non_medical_values], how='all', inplace=True)

In [11]:
final_df.shape # no lines have been delated

(8000, 120)

## 4- NaN imputation

In [32]:
# drop num_samples columns
columns_with_number_samples = [x for x in final_df.columns if '_num_samples' in  x.lower()]
final_df.drop(columns=columns_with_number_samples, axis= 1, inplace= True)

In [34]:
final_df.isna().sum()

RecordID                0
Age                     0
Gender                  8
Height               3824
Albumin_mean         4754
                     ...
SAPS-I                  0
SOFA                    0
Length_of_stay          0
Survival                0
In-hospital_death       0
Length: 83, dtype: int64

4.1- drop those patientes with NaN in Gender column

In [41]:
final_df.dropna(subset=['Gender'], inplace=True)

4.1- Steps for imputing numerial values to Nan:

- Select the columns without NaN values to use for clustering.

- Perform clustering on these selected columns to group patients into clusters.

- Calculate the mean of each cluster.

- Assign the mean value of the cluster to NaN values for each patient in the same cluster.

In [70]:
def impute_nan_with_cluster_mean(df, n_clusters=5):
    # Set 'RecordID' as index
    df.set_index('RecordID', inplace=True)
    
    # Select columns without NaN values
    columns_without_nan = df.columns[df.isnull().sum() == 0]
    data_without_nan = df[columns_without_nan]
    
    # Perform clustering
    kmeans = KMeans(n_clusters=n_clusters, random_state=42)
    clusters = kmeans.fit_predict(data_without_nan)
    
    # Assign cluster labels to DataFrame
    df['Cluster'] = clusters
    
    # Calculate cluster means
    cluster_means = df.groupby('Cluster').mean()
    
    # Impute NaN values with cluster means
    for index, row in df.iterrows():
        cluster = row['Cluster']
        for column in df.columns:
            if pd.isna(row[column]):
                df.at[index, column] = cluster_means.at[cluster, column]
    
    return df

In [71]:
final_df = impute_nan_with_cluster_mean(final_df)

In [72]:
final_df.sample(5)

,Age,Gender,Height,Albumin_mean,Albumin_CV,ALP_mean,ALP_CV,ALT_mean,ALT_CV,AST_mean,AST_CV,Bilirubin_mean,Bilirubin_CV,BUN_mean,BUN_CV,Cholesterol_mean,Cholesterol_CV,Creatinine_mean,Creatinine_CV,DiasABP_mean,DiasABP_CV,FiO2_mean,FiO2_CV,GCS_mean,GCS_CV,Glucose_mean,Glucose_CV,HCO3_mean,HCO3_CV,HCT_mean,HCT_CV,HR_mean,HR_CV,K_mean,K_CV,Lactate_mean,Lactate_CV,Mg_mean,Mg_CV,MAP_mean,MAP_CV,MechVent_mean,MechVent_CV,Na_mean,Na_CV,NIDiasABP_mean,NIDiasABP_CV,NIMAP_mean,NIMAP_CV,NISysABP_mean,NISysABP_CV,PaCO2_mean,PaCO2_CV,PaO2_mean,PaO2_CV,pH_mean,pH_CV,Platelets_mean,Platelets_CV,RespRate_mean,RespRate_CV,SaO2_mean,SaO2_CV,SysABP_mean,SysABP_CV,Temp_mean,Temp_CV,TropI_mean,TropI_CV,TropT_mean,TropT_CV,Urine_mean,Urine_CV,WBC_mean,WBC_CV,Weight_mean,Weight_CV,SAPS-I,SOFA,Length_of_stay,Survival,In-hospital_death,Cluster
RecordID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
150882,63,0.0,169.130400,2.957759,5.981474,108.943544,9.964318,147.105653,16.082752,216.615357,24.667471,1.369068,22.011287,28.000000,10.101525,152.833333,NaN,0.800000,0.000000,58.872044,15.881999,0.425083,10.627879,13.416667,17.825507,67.000000,4.221533,25.000000,0.000000,46.850000,1.056510,69.037037,16.266561,5.666667,16.012538,1.100000,31.152954,1.833333,22.044283,81.385580,15.838081,1.0,0.0,138.000000,0.000000,63.176471,12.634045,81.137843,11.396900,117.058824,13.919551,64.60,6.800583,103.20,18.542978,7.2700,0.217488,175.000000,3.232488,19.816802,18.412700,96.000000,1.701035,120.723505,15.153995,36.116667,1.647945,NaN,NaN,NaN,NaN,171.571429,277.100282,9.500000,19.352396,50.0,0.000000,19,9,8,476,0,0
133770,84,0.0,169.891261,3.000000,8.354571,105.002394,11.750483,168.627501,22.915840,240.242004,30.977101,0.600000,23.788113,17.500000,5.993193,155.950980,5.708256,0.800000,13.693064,49.975610,23.117500,0.408333,48.372866,6.888889,55.712742,132.666667,19.061064,23.500000,5.865553,26.742857,13.779532,90.986111,16.286678,3.850000,8.653679,2.380623,32.167500,1.675000,10.195971,84.050000,28.232228,1.0,0.0,129.666667,1.053671,56.285714,36.617506,86.737143,31.358009,147.642857,29.878912,37.80,15.583785,238.80,50.243753,7.3940,1.288735,289.600000,19.105323,19.586706,19.175616,99.000000,1.744666,143.146341,25.398451,37.577778,2.012546,NaN,NaN,NaN,NaN,56.310345,229.550786,9.120000,23.738465,59.8,1.801227,22,8,10,9,1,4
148222,56,0.0,167.600000,3.000000,8.354571,60.000000,11.750483,6.000000,22.915840,21.000000,30.977101,0.600000,23.788113,24.666667,19.998174,155.950980,5.708256,1.366667,32.994510,63.459016,11.303417,0.553140,25.257768,15.000000,0.000000,113.000000,24.348348,24.666667,4.681218,28.150000,7.068290,97.950000,8.324735,4.100000,8.449028,0.960000,26.145626,1.766667,8.646369,79.322034,10.197442,1.0,0.0,139.000000,0.719424,60.285714,11.074238,69.714286,8.908633,100.428571,7.816282,39.20,8.537347,99.40,23.546406,7.3880,0.350357,191.333333,29.437354,13.327869,29.940977,97.000000,1.744666,105.163934,8.923881,37.695000,1.043918,NaN,NaN,NaN,NaN,75.112903,108.212244,12.333333,41.058849,82.7,1.801227,13,5,8,-1,0,4
135313,85,0.0,169.891261,3.700000,8.354571,45.000000,11.750483,14.000000,22.915840,24.000000,30.977101,0.800000,23.788113,14.000000,30.304576,155.950980,5.708256,0.900000,0.000000,59.778562,15.298305,0.666667,38.729833,12.615385,24.116862,144.000000,11.785113,22.500000,3.142697,31.600000,5.370431,97.596154,8.668811,3.850000,9.183205,1.600000,32.167500,1.900000,14.886459,80.897376,14.982382,1.0,0.0,137.500000,0.514259,53.153846,19.122066,68.220000,16.221345,119.134615,13.901308,47.00,12.358961,118.00,39.984710,7.3400,0.918560,239.000000,5.325490,19.586706,19.175616,96.531808,1.744666,118.595554,14.753744,37.108333,2.463033,NaN,NaN,NaN,NaN,85.384615,99.752255,11.450000,4.322924,69.6,0.000000,15,6,6,-1,0,4
133125,83,1.0,169.891261,2.800000,8.354571,158.000000,11.750483,23.000000,22.915840,10.000000,30.977101,0.600000,23.788113,110.000000,26.421045,155.950980,5.708256,7.400000,20.553576,55.641509,18.490390,0.553140,25.257768,12.857143,7.494854,98.250000,26.232110,15.750000,29.497058,28.760000,10.548139,70.740741,13.592737,4.125000,15.632761,2.380623,32.167500,1.650000,7.824209,88.115385,11.814626,1.0,0.0,132.750000,3.709551,50.750000,16.137369,80.455000,16.089042,139.875000,17.181301,28.75,9.147672,105.75,21.623992,7.3725,1.316818,106.500000,10.010758,18.037037,20.348080,96.531808,1.744666,139.849057,17.419766,35.488235,1.483993,NaN,NaN,NaN,NaN,25.864865,122.472449,6.325000,20.385450,53.0,0.000000,20,9,9,17,0,4

## 5- Logistic Regression for In-hospital_death Prediction and Linear regression for Length_of_stay prediction